In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv("newfb.csv")

# a. Create data subsets for type of post
status_posts = df[df['Type'] == 'Status']
photo_posts = df[df['Type'] == 'Photo']

# b. Merge two subsets
merged_posts = pd.concat([status_posts, photo_posts])

print("Merged Subset:\n", merged_posts.head())

Merged Subset:
     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0             136013  Status         2          10             5          3
3             136013  Status         3          10             3         10
4             136013  Status         2          10             3          2
10            135713  Status         2          10             7          4
25            135617  Status         2           9             6          4

    Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0      0                       8896                            17202
3      0                      13152                            25666
4      1                      31136                            59964
10     0                      10744                            20691
25     0                      11096                            21080

    Lifetime Engaged Users  Lifetime Post Consumers  \
0                     1480                     1426
3                     2543                     2438
4                     6164                     5934
10                    1967                     1877
25                    1843                     1724

    Lifetime Post Consumptions  \
0                         1932
3                         3179
4                         9237
10                        2201
25                        2106

    Lifetime Post Impressions by people who have liked your Page  \
0                                               13838
3                                               20547
4                                               35977
10                                              17502
25                                              16095

    Lifetime Post reach by people who like your Page  \
0                                               7020
3                                              10280
4                                              18048
10                                              8964
25                                              8120

    Lifetime People who have liked your Page and engaged with your post  \
0                                                1292
3                                                2278
4                                                4376
10                                               1834
25                                               1604

    comment  like  share  Total Interactions
0         0   129   25.0                 154
3         2   227   36.0                 265
4        60   859   90.0                1009
10        3   148   28.0                 179
25        4   243   41.0                 288

In [5]:
sorted_df = df.sort_values(by='Page total likes', ascending=False)
print("\nSorted by Page Total Likes:\n", sorted_df[['Page total likes', 'Type']].head())

Sorted by Page Total Likes:
    Page total likes    Type
0            136013  Status
2            136013    Link
3            136013  Status
4            136013  Status
5            136013   Photo

In [6]:
# d. Transposing Data (showing only first 5 rows)
transposed_df = df.head().T
# Print results (for example)
print("\nTransposed Data (First 5 Rows):\n", transposed_df)

Transposed Data (First 5 Rows):
                                                          0       1       2  \
Page total likes                                    136013  136013  136013
Type                                                Status   Photo    Link
Category                                                 2       1       1
Post Month                                              10      10      10
Post Weekday                                             5       4       4
Post Hour                                                3      10       3
Paid                                                     0       1       0
Lifetime Post Total Reach                             8896    4018   68992
Lifetime Post Total Impressions                      17202    8617  229733
Lifetime Engaged Users                                1480     428    1032
Lifetime Post Consumers                               1426     374     975
Lifetime Post Consumptions                            1932     616    1345
Lifetime Post Impressions by people who have li...   13838    6677   17842
Lifetime Post reach by people who like your Page      7020    2992    8032
Lifetime People who have liked your Page and en...    1292     351     635
comment                                                  0       4      15
like                                                   129      77     143
share                                                 25.0    19.0    44.0
Total Interactions                                     154     100     202

                                                         3       4
Page total likes                                    136013  136013
Type                                                Status  Status
Category                                                 3       2
Post Month                                              10      10
Post Weekday                                             3       3
Post Hour                                               10       2
Paid                                                     0       1
Lifetime Post Total Reach                            13152   31136
Lifetime Post Total Impressions                      25666   59964
Lifetime Engaged Users                                2543    6164
Lifetime Post Consumers                               2438    5934
Lifetime Post Consumptions                            3179    9237
Lifetime Post Impressions by people who have li...   20547   35977
Lifetime Post reach by people who like your Page     10280   18048
Lifetime People who have liked your Page and en...    2278    4376
comment                                                  2      60
like                                                   227     859
share                                                 36.0    90.0
Total Interactions                                     265    1009

In [7]:
# e. Melting Data to long format
melted_df = pd.melt(
    df,
    id_vars=['Type', 'Category'],
    value_vars=['comment', 'like', 'share'],
    var_name='Interaction Type',
    value_name='Value'
)

print("\nMelted Data:\n", melted_df.head())

Melted Data:
      Type  Category Interaction Type  Value
0  Status         2          comment    0.0
1   Photo         1          comment    4.0
2    Link         1          comment   15.0
3  Status         3          comment    2.0
4  Status         2          comment   60.0

In [8]:


# f. Casting data to wide format (pivoting back)
cast_df = melted_df.pivot_table(
    index=['Type', 'Category'],
    columns='Interaction Type',
    values='Value',
    aggfunc='mean'
).reset_index()

print("\nCast Data (Wide Format):\n", cast_df)

Cast Data (Wide Format):
 Interaction Type    Type  Category    comment        like      share
0                   Link         1   7.500000   83.500000  27.500000
1                  Photo         1   8.500000  180.250000  25.771429
2                  Photo         2  16.523810  267.261905  40.571429
3                  Photo         3   6.647059  295.823529  36.323529
4                 Status         2  14.117647  190.352941  29.705882
5                 Status         3   2.000000  227.000000  36.000000
6                  Video         1  12.000000  330.000000  98.500000